.photo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}
img{
 width: 150px;
 height: 150px;
 border-radius: 50%;
 border: 1px solid #f3f3f3;
 box-shadow: 2px 2px 5px black;
}
.main{
  border: 1px solid #f1f1f1;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: -2px 2px 5px black;
  background-color: rgba(100, 100, 100, 0.2);
  color: #f1f1f1;
}
.address,.name{
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 5vh;
}
.part{
  flex: 1;
}
p{
  font-style: italic;
  margin-right: 5px;
  color: black;
 
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right top, #d453f8, #f731cc, #ff0e9e, #ff1972, #ff384b, #ff5738, #ff7323, #ff8e00, #ffab00, #ffc700, #ffe31a, #ffff39);
}